<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>OVERVIEW
    You have been tasked to create a job listing app.You have at your disposal a REST API that retrieves a list of Jobs.
    Your task is to consume that API and display two screens. One screen lists all the jobs; clicking on a job takes
    you to a second screen with all the job information. Users should be able to apply on the second
    screen if the application URL is available from the REST API.</h2>
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>
